# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build
/build 
.cache

# # Ignore everything in 3rdparty folder
# /3rdparty/*
# # NOTE: Dont change this line, it is needed to track CMakeLists.txt
# !3rdparty/CMakeLists.txt


